@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.tsx";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-admin-dark: #343a40;
  --color-admin-sidebar: #2d3238;
  --color-admin-primary: #007bff;
  --color-admin-info: #17a2b8;
  --color-admin-success: #28a745;
  --color-admin-warning: #ffc107;
  --color-admin-danger: #dc3545;

  --sidebar-width: 250px;
}

@layer base {
  html, body, #root {
    @apply h-full;
  }
}
