@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.tsx";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-admin-dark: #343a40;
  --color-admin-sidebar: #2d3238;
  --color-admin-primary: #007bff;
  --color-admin-info: #17a2b8;
  --color-admin-success: #28a745;
  --color-admin-warning: #ffc107;
  --color-admin-danger: #dc3545;

  --sidebar-width: 250px;

  /* Shift Tailwind Font Scale */
  --font-size-xs: 0.875rem;     /* 12px -> 14px */
  --font-size-sm: 1rem;         /* 14px -> 16px */
  --font-size-base: 1.125rem;   /* 16px -> 18px */
  --font-size-lg: 1.25rem;      /* 18px -> 20px */
  --font-size-xl: 1.5rem;       /* 20px -> 24px */
  --font-size-2xl: 1.875rem;    /* 24px -> 30px */
}

@layer base {
  html {
    font-size: 105%; /* Slight boost to overall scale */
  }
  
  html, body, #root {
    @apply h-full;
  }
}
